<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="conduit.wsgi.application"/>
  </appSettings>
  <system.webServer>
    <fastCgi>
      <application fullPath="D:\home\site\wwwroot\python\tools\python.exe" arguments="-m wfastcgi" />
    </fastCgi>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\python\tools\python.exe|-m wfastcgi" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>
